<div class="container-fluid">
  <div class="row-fluid">

    <div class="span8 offset2 well">
      <h2>Iniciar sesión</h2>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.label "Email:" %> <br />
        <%= f.email_field :email, :autofocus => true %> <br />
        <%= f.label "Contraseña:" %> <br />
        <%= f.password_field :password %> <br /><br />

        <%= f.submit "Ingresar", :class => "btn btn-primary" %>
      <% end %>
      <%= render "devise/shared/links" %>
      
    </div>

  </div>
</div>





